<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_name, value: current_user.name %>
    <%= f.input :body, label: false %>
    <%= f.hidden_field :post_id  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
