<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if current_user.nil? %>
      <%= f.input :body, label: false, disabled: true, placeholder: "Login to make a comment" %>
    <% else %>
      <%= f.hidden_field :user_name, value: current_user.name %>
      <%= f.input :body, label: false %>
      <%= f.hidden_field :post_id  %>
    <% end %>
  </div>

  <div class="form-actions">
    <% if current_user.nil? %>
      <%= f.button :submit, disabled: true if current_user.nil? %>
    <% else %>
      <%= f.button :submit %>
    <% end %>
  </div>
<% end %>
