<div class="col-xs-6">
  <%= simple_form_for(@user, defaults: {wrapper_html: {class: 'input-field'}, required: false}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
    </div>
    <br />
    <button name="commit" type="submit" class="btn btn-success col-xs-5">Sign Up!</button>
    <div class="col-xs-2 text-center">
      or
    </div>
    <a href="/" class="btn btn-default col-xs-5">Cancel</a>
  <% end %>
</div>
