<div class="col-xs-6">
  <%= simple_form_for(@user, defaults: {wrapper_html: {class: 'input-field'}, required: false}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit, t('sign_up') %>
    </div>
  <% end %>
</div>
