<%= simple_form_for(@user, defaults: {required: false}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password, label: 'Update password' %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
