<div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <% overflow = "post-overflow-control" unless full_post %>
    <div class="card-title <%= overflow %>">
      <strong><%= post.title %></strong>
    </div>
    <p class="<%= overflow %>">
      <%= post.content %>
    </p>
  </div>

  <div class="card-action white-text row">
    <% col_size = full_post ? { left: 6, center: 0, right: 6 } : { left: 2, center: 8, right: 2 } %>
    <%= render 'posts/post_sections/top_action_row', col_size: col_size, post: post %>
    <%= render 'posts/post_sections/bottom_action_row', post: post %>
  </div>
</div>
