<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= @post.title %></span>
        <p><%= @post.content %></p>
      </div>
      <div class="card-action white-text">
        <label>Creator</label>
        <%= User.find(@post.user_id).name %>
      </div>
    </div>
  </div>
</div>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render 'comments/form' %>
